In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('survey_results_public.csv', index_col='ResponseId')
schema_df = pd.read_csv('survey_results_schema.csv',index_col= 'qname')

In [ ]:
df

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
pd.set_option('display.max_columns',85)
pd.set_option('display.max_rows',85)

In [ ]:
df

In [ ]:
schema_df = pd.read_csv('survey_results_schema.csv')

In [ ]:
schema_df

In [ ]:
df.head()

In [ ]:
df.head(10)

In [ ]:
df.tail()

In [ ]:
df.tail(10)

# 2nd video

In [ ]:
person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}

In [ ]:
people = {
    "first": ["Corey"], 
    "last": ["Schafer"], 
    "email": ["CoreyMSchafer@gmail.com"]
}

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [ ]:
people['email']

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(people)

In [ ]:
df

In [ ]:
df['email']

In [ ]:
type(df['email'])

In [ ]:
# series is list of data,one dimensional array, rows of data or rows of single column.
# Dataframe is container for multiple of these series objects. dataframe is 2 dimensional.

In [ ]:
df.email

In [ ]:
df[['last','email']]

In [ ]:
df.columns

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[[0,1]]

In [ ]:
df.iloc[[0,1],2] # with iloc we are searching by integer location. By loc we are searching by label.

In [ ]:
df

In [ ]:
df.loc[0]

In [ ]:
df.loc[[0,1]]

In [ ]:
df.loc[[0,1],'email']

In [ ]:
df.loc[[0,1],['email','last']]

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df['SOAccount'].value_counts()

In [ ]:
df.loc[0,'SOAccount']

In [ ]:
df.loc[[1,2,3,4],'SOAccount']

In [ ]:
df.loc[1:20,'SOAccount']

In [ ]:
df.loc[1:5,'SOAccount':'NEWOtherComms']

# 3rd video

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [ ]:
df = pd.DataFrame(people)
df

In [ ]:
df['email']

In [ ]:
df.set_index('email')

In [ ]:
df

In [ ]:
df.set_index('email',inplace=True)

In [ ]:
df

In [ ]:
df.index

In [ ]:
df.loc['CoreyMSchafer@gmail.com']

In [ ]:
df.loc['CoreyMSchafer@gmail.com','last']

In [ ]:
df.iloc[0]

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df

In [ ]:
df.loc[1]

In [ ]:
schema_df

In [ ]:
schema_df.loc['Sexuality','question']

In [ ]:
schema_df.sort_index()

In [ ]:
schema_df.sort_index(ascending=False)

# 4th video Filtering

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [ ]:
df = pd.DataFrame(people)
df

In [ ]:
# filt = df['last'] == 'Doe'
filt = (df['last'] == 'Doe')

In [ ]:
df[filt]

In [ ]:
df [df['last'] == 'Doe']

In [ ]:
df.loc[filt,'email']

In [ ]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John')

In [ ]:
df.loc[filt,'email']

In [ ]:
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')

In [ ]:
df.loc[filt,'email']

In [ ]:
df.loc[-filt,'email']

In [ ]:
df.columns

In [ ]:
high_salary = (df['ConvertedCompYearly'] > 70000)

In [ ]:
df.loc[high_salary,['Country','Gender','ConvertedCompYearly']]

In [ ]:
countries = ['India','United States of America','Germany','Canada','United Kingdom']
filt = df['Country'].isin(countries)

In [ ]:
df.loc[filt,'Country']

In [ ]:
df.head()

In [ ]:
df['LanguageHaveWorkedWith']

In [ ]:
filt = df['LanguageHaveWorkedWith'].str.contains('Python',na = False)

In [ ]:
df.loc[filt,'LanguageHaveWorkedWith']

In [ ]:
filt

In [ ]:
df.loc[filt]

# 5th Video updating and Modifying

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [ ]:
df = pd.DataFrame(people)

In [ ]:
df.columns

In [ ]:
df.columns = ['first_name','last_name','email']

In [ ]:
df.columns

In [ ]:
df

In [ ]:
df.columns = [x.upper() for x in df.columns]
df

In [ ]:
df.columns = [x.lower() for x in df.columns]
df

In [ ]:
df.columns = df.columns.str.replace('_',' ')
df

In [ ]:
df.columns = df.columns.str.replace(' ','_')
df

In [ ]:
df.rename(columns={'first_name':'first','last_name':'last'})

In [ ]:
df

In [ ]:
df.rename(columns={'first_name':'first','last_name':'last'},inplace=True)

In [ ]:
df

In [ ]:
df.loc[2]

In [ ]:
df.loc[2] = ['umesh','pawar','umeshkpawar10@gmail.com']

In [ ]:
df

In [ ]:
df.loc[2,['last','email']] = ['Dov','JohnDov@gmail.com']

In [ ]:
df

In [ ]:
df.loc[2,'first'] = 'john'

In [ ]:
df

In [ ]:
df.at[2,'first'] = 'John'

In [ ]:
df

In [ ]:
df.at[2,'email'] = 'JohnDoe@gmail.com'

In [ ]:
df

In [ ]:
filt = (df['email'] == 'JohnDoe@gmail.com')
df[filt]

In [ ]:
filt = (df['email'] == 'JohnDoe@gmail.com')
df[filt]['last']

In [ ]:
filt = (df['email'] == 'JohnDoe@gmail.com')
df[filt]['last'] = 'pawar'

In [ ]:
df

In [ ]:
filt = (df['email'] == 'JohnDoe@gmail.com')
df.loc[filt, 'last'] = 'pawar'

In [ ]:
df

In [ ]:
df['email'] = df['email'].str.lower()

In [ ]:
df

In [ ]:
# functions on series and dataframe: 

# apply: used for calling a fun on values, can work on DataFrmame or Series. 
# map
# applymap
# replace

In [ ]:
# working on series. 
df['email'].apply(len)

In [ ]:
def update_email(email):
    return email.upper()

In [ ]:
df['email'].apply(update_email)

In [ ]:
df

In [ ]:
df['email']=df['email'].apply(update_email)

In [ ]:
df

In [ ]:
df['email']=df['email'].apply(lambda x:x.lower())

In [ ]:
df

In [ ]:
# so far we have applied on series. it applied on all columns. 
# if apply dataframe it will apply on each row and each column

In [ ]:
# lets's work on dataframe
df['email'].apply(len)

In [ ]:
df.apply(len)
# Here it is not applying len fun to every value in dataframe. it is applying to each series in dataframe specifically the column

In [ ]:
len(df['email'])

In [ ]:
df.apply(len,axis='columns')

In [ ]:
df.apply(pd.Series.min)

In [ ]:
df.apply(lambda x:x.min())

In [ ]:
df.applymap(len)

In [ ]:
df.applymap(str.lower)

In [ ]:
# map fun only work on series 
df['first'].map({'Corey': 'Chris','John':'Umesh'})

In [ ]:
df['first']=df['first'].replace({'Corey': 'Chris','John':'Umesh'})

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.rename(columns={'ConvertedCompYearly':'SalaryUSD'},inplace=True)

In [ ]:
df.head()

In [ ]:
df['SOAccount'].map({'Yes':True,'No':False})

In [ ]:
df['SOAccount']=df['SOAccount'].map({'Yes':True,'No':False})

In [ ]:
df.head(5)

# 6 th video Add/Remove Rows and Columns from DataFrame

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [ ]:
df = pd.DataFrame(people)

In [ ]:
df

In [ ]:
df['first'] + ' ' + df['last']

In [ ]:
df['full name'] = df['first'] + ' ' + df['last']

In [ ]:
df

In [ ]:
df.drop(columns=['first','last'],inplace=True)

In [ ]:
df

In [ ]:
df['full name'].str.split(' ')

In [ ]:
df['full name'].str.split(' ',expand=True)

In [ ]:
df[['first','last']] = df['full name'].str.split(' ',expand=True)

In [ ]:
df

In [ ]:
# adding data to rows
df.append({'first':'umesh'},ignore_index=True)

In [ ]:
people = {
    "first": ["Tony", 'Steve'], 
    "last": ["Sterk", 'Rogers'], 
    "email": ["IronMan@Avenger.com", 'CaptionAvenger@email.com']
}
df2 = pd.DataFrame(people)

In [ ]:
df2

In [ ]:
df.append(df2,ignore_index=True)

In [ ]:
df = df.append(df2,ignore_index=True)

In [ ]:
df

In [ ]:
df.drop(index=4)

In [ ]:
df.drop(index=df[df['last']=='Doe'].index)

In [ ]:
filt = df['last'] == 'Doe'
df.drop(index=df[filt].index)

# 7 th video Sorting data

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John','Adam'], 
    "last": ["Schafer", 'Doe', 'Doe','Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com','Adam@gmail.com']
}

In [ ]:
df = pd.DataFrame(people)

In [ ]:
df

In [ ]:
df.sort_values(by='last')

In [ ]:
df.sort_values(by='last',ascending= False)

In [ ]:
df.sort_values(by=['last','first'],ascending= False)

In [ ]:
df.sort_values(by=['last','first'],ascending= [False, True],inplace=True)

In [ ]:
df

In [ ]:
df.sort_index()

In [ ]:
df['last'].sort_values()

In [ ]:
df.sort_values(by=['Country','ConvertedCompYearly'], inplace=True)

In [ ]:
df[['Country','ConvertedCompYearly']].head(50)

In [ ]:
df.sort_values(by=['Country','ConvertedCompYearly'],ascending=[True,False], inplace=True)

In [ ]:
df[['Country','ConvertedCompYearly']].head(50)

In [ ]:
df['ConvertedCompYearly'].nlargest(10)

In [ ]:
df.nlargest(10, 'ConvertedCompYearly')

In [ ]:
df['ConvertedCompYearly'].nsmallest(10)

In [ ]:
df.nsmallest(10, 'ConvertedCompYearly')

# 8 th video Grouping and Aggregating

In [ ]:
df['ConvertedCompYearly'].head(15)

In [ ]:
df['ConvertedCompYearly'].median()

In [ ]:
df.median()

In [ ]:
df.describe()

In [ ]:
df['ConvertedCompYearly'].count()

In [ ]:
df.head(5)

In [ ]:
df['SOAccount'].value_counts()

In [ ]:
df['OpSys']

In [ ]:
schema_df.loc['OpSys']

In [ ]:
df['OpSys'].value_counts()

In [ ]:
df['OpSys'].value_counts(normalize=True) # now broken down by percentage

In [ ]:
df['Country'].value_counts()

In [ ]:
country_grp = df.groupby(['Country'])

In [ ]:
country_grp.get_group('India')

In [ ]:
filt = df['Country'] == 'United States of America'
df.loc[filt]

In [ ]:
filt = df['Country'] == 'United States of America'
df.loc[filt]['OpSys'].value_counts()

In [ ]:
filt = df['Country'] == 'India'
df.loc[filt]['OpSys'].value_counts()

In [ ]:
country_grp['OpSys'].value_counts().head(50)

In [ ]:
country_grp['OpSys'].value_counts().loc['Germany']

In [ ]:
country_grp['ConvertedCompYearly'].median().loc['Germany']

In [ ]:
country_grp['ConvertedCompYearly'].agg(['median','mean'])

In [ ]:
country_grp['ConvertedCompYearly'].agg(['median','mean']).loc['Canada']

In [ ]:
filt = df['Country'] == 'India'
df.loc[filt]['LanguageHaveWorkedWith'].str.contains('Python').sum()

In [ ]:
country_grp['LanguageHaveWorkedWith'].apply(lambda x : x.str.contains('Python').sum())

# Q. what % of people from each country know python ?

In [ ]:
country_respondant = df['Country'].value_counts()

In [ ]:
country_respondant

In [ ]:
country_use_python = country_grp['LanguageHaveWorkedWith'].apply(lambda x : x.str.contains('Python').sum())
country_use_python

In [ ]:
python_df = pd.concat([country_respondant,country_use_python],axis='columns',sort=False)
python_df

In [ ]:
python_df.rename(columns={'Country':'NumRespondents','LanguageHaveWorkedWith':'NumKnowPython'},inplace=True)

In [ ]:
python_df

In [ ]:
# python_df['PctKnowPython'] = (part/whole)*100
python_df['PctKnowPython'] = (python_df['NumKnowPython']/python_df['NumRespondents']) * 100
python_df

In [ ]:
python_df.sort_values(by='PctKnowPython',ascending=False,inplace=True)

In [ ]:
python_df.head(50)

In [ ]:
python_df.loc['Japan']

# 9 th video Handling missing value and casting Datatypes

In [ ]:
import numpy as np
people = {
    'first': ['Corey', 'Jane', 'John', 'Chris', np.nan, None, 'NA'], 
    'last': ['Schafer', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}

In [ ]:
df = pd.DataFrame(people)

In [ ]:
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis='index',how='any')

In [ ]:
df.dropna(axis='index',how='all')

In [ ]:
df.dropna(axis='columns',how='all')

In [ ]:
df.dropna(axis='columns',how='any')

In [ ]:
df.dropna(axis='index',how='any',subset=['email'])

In [ ]:
df.dropna(axis='index',how='all',subset=['email'])

In [ ]:
df.dropna(axis='index',how='all',subset=['last','email'])

In [ ]:
df = pd.DataFrame(people)
df.replace('NA',np.nan, inplace=True)
df.replace('Missing',np.nan, inplace=True)

In [ ]:
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis='index',how='any')

In [ ]:
df.isna()

In [ ]:
df.fillna('MISSING')

In [ ]:
df.fillna(0)

# casting datatype

In [ ]:
df.dtypes

In [ ]:
df['age'].mean()

In [ ]:
type(np.nan)

In [ ]:
df['age'] = df['age'].astype(float)

In [ ]:
df.dtypes

In [ ]:
df['age'].mean()

In [ ]:
na_val = ['NA','Missing']
df = pd.read_csv('survey_results_public.csv', index_col='ResponseId',na_values=na_val)
schema_df = pd.read_csv('survey_results_schema.csv',index_col= 'qname')

In [ ]:
df['YearsCode'].head(10)

In [ ]:
df['YearsCode'].unique()

In [ ]:
df['YearsCode'].replace('Less than 1 year',0,inplace=True)

In [ ]:
df['YearsCode'].replace('More than 50 years',51,inplace=True)

In [ ]:
df['YearsCode'].unique()

In [ ]:
df['YearsCode'] = df['YearsCode'].astype(float)

In [ ]:
df['YearsCode'].mean()

In [ ]:
df['YearsCode'].median()

In [ ]:
df['YearsCode'].mode()

# 10 th video Working with Dates and Time Series Data

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/CoreyMSchafer/code_snippets/master/Python/Pandas/10-Datetime-Timeseries/ETH_1h.csv")

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.loc[0,'Date']

In [ ]:
df.loc[0,'Date'].day_name()

In [ ]:
df['Date'] = pd.to_datetime(df['Date'],format='%Y-%m-%d %I-%p')

In [ ]:
df['Date']

In [ ]:
df.loc[0,'Date'].day_name()

In [ ]:
d_parser = lambda x: pd.datetime.strptime(x,'%Y-%m-%d %I-%p')
df = pd.read_csv("https://raw.githubusercontent.com/CoreyMSchafer/code_snippets/master/Python/Pandas/10-Datetime-Timeseries/ETH_1h.csv", parse_dates=['Date'], date_parser=d_parser)

In [ ]:
df['Date'].dt.day_name()

In [ ]:
df['dayofweek'] = df['Date'].dt.day_name()

In [ ]:
df

In [ ]:
df['Date'].min()

In [ ]:
df['Date'].max()

In [ ]:
df['Date'].max() - df['Date'].min()

In [ ]:
filt = (df['Date'] >= '2020')
df.loc[filt]

In [ ]:
filt = (df['Date'] >= '2019') & (df['Date'] < '2020')
df.loc[filt]

In [ ]:
filt = (df['Date'] >= pd.to_datetime('2019-01-01')) & (df['Date'] < pd.to_datetime('2020-01-01'))
df.loc[filt]

In [ ]:
df.set_index('Date',inplace=True)

In [ ]:
df.loc['2019']

In [ ]:
df['2020-01':'2020-02']

In [ ]:
df['2020-01':'2020-02']['Close']

In [ ]:
df['2020-01':'2020-02']['Close'].mean()

In [ ]:
df['2020-01':'2020-02'].head(24)

In [ ]:
df.loc['2020-01-01']['High'].max()

In [ ]:
highs = df['High'].resample('D').max()
highs

In [ ]:
highs = df['High'].resample('D').max()
highs.loc['2020-01-01']

In [ ]:
%matplotlib inline

In [ ]:
highs.plot()

In [ ]:
df.resample('W').mean()

In [ ]:
df.resample('W').agg({'Close':'mean','High':'max','Low':'min','Volume':'sum'})

# 11 th video Reading/Writing Data to Different Sources

In [39]:
df = pd.read_csv('survey_results_public.csv', index_col='ResponseId')
schema_df = pd.read_csv('survey_results_schema.csv',index_col= 'qname')

In [40]:
filt = (df['Country'] == 'India')
india_df = df.loc[filt]
india_df.head()

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
9,I am a developer by profession,Employed part-time,India,NaN,NaN,"Bachelors degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp,6,4,"Developer, front-end","10,000 or more employees",INR\tIndian rupee,NaN,Monthly,HTML/CSS;JavaScript,HTML/CSS;JavaScript,PostgreSQL,PostgreSQL,AWS,NaN,Django;FastAPI,Django;FastAPI,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,PyCharm;Sublime Text,PyCharm;Sublime Text,Windows,Visit Stack Overflow;Google it;Panic,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"Yes, definitely",No,25-34 years old,Man,No,NaN,South Asian,NaN,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
23,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,5 - 10 years,School;Friend or family member,7,NaN,NaN,NaN,NaN,NaN,NaN,C#;HTML/CSS;Python,Java;Kotlin;Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unity 3D,NaN,Android Studio,Android Studio,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",No,Under 18 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
40,I am a student who is learning to code,"Student, part-time",India,NaN,NaN,"Bachelors degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,3,NaN,NaN,NaN,NaN,NaN,NaN,C;C#;C++;HTML/CSS;JavaScript;Node.js;Python,NaN,MongoDB,NaN,Heroku,NaN,Express;jQuery;React.js,NaN,Keras;NumPy;TensorFlow,NaN,Flow;Unity 3D,NaN,IPython/Jupyter;Sublime Text;Visual Studio Code,NaN,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, somewhat",Yes,18-24 years old,Woman,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
50,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C;HTML/CSS;Java;JavaScript;Kotlin;Node.js;Pyth...,Dart;Elixir;Go;SQL,NaN,NaN,Heroku,NaN,Django;Express;React.js,Angular,NaN,NaN,Git;Yarn,NaN,Android Studio;Atom;Notepad++;Sublime Text;Vis...,NaN,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Multiple times per day,Yes,A few times per week,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
53,I am a developer by profession,Employed full-time,India,NaN,NaN,"Masters degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",5,4,"Developer, full-stack","1,000 to 4,999 employees",INR\tIndian rupee,NaN,NaN,HTML/CSS;JavaScript;Node.js;Python;TypeScript,HTML/CSS;JavaScript;Node.js;PowerShell;Python;...,Firebase;MongoDB;Redis,DynamoDB;Elasticsearch;Firebase;MongoDB;Redis,AWS;DigitalOcean;Heroku;Microsoft Azure;Oracle...,AWS;DigitalOcean;Google Cloud Platform;Heroku;...,Angular;Express;React.js,Angular;Express;React.js,Cordova,Cordova,Docker;Git;Kubernetes,Docker;Git;Kubernetes,Visual Studio Code;Xcode,Visual Studio Code;Xcode,MacOS,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Multiple times per day,Yes,Less than once per month or monthly,"Yes, definitely",No,25-34 years old,Man,No,Prefer not to say,I don't know,None of the above,None of the above,Too long,Neither easy nor difficult,NaN

In [41]:
india_df.to_csv('modified_india.csv')

In [42]:
india_df.to_csv('modified1_india.tsv',sep='\t')

In [43]:
india_df.to_excel('modified2.xlsx')

In [44]:
test = pd.read_excel('modified2.xlsx', index_col='ResponseId')
test.head()

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
9,I am a developer by profession,Employed part-time,India,NaN,NaN,"Bachelors degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp,6,4,"Developer, front-end","10,000 or more employees",INR\tIndian rupee,NaN,Monthly,HTML/CSS;JavaScript,HTML/CSS;JavaScript,PostgreSQL,PostgreSQL,AWS,NaN,Django;FastAPI,Django;FastAPI,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,PyCharm;Sublime Text,PyCharm;Sublime Text,Windows,Visit Stack Overflow;Google it;Panic,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"Yes, definitely",No,25-34 years old,Man,No,NaN,South Asian,NaN,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
23,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,5 - 10 years,School;Friend or family member,7,NaN,NaN,NaN,NaN,NaN,NaN,C#;HTML/CSS;Python,Java;Kotlin;Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unity 3D,NaN,Android Studio,Android Studio,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",No,Under 18 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
40,I am a student who is learning to code,"Student, part-time",India,NaN,NaN,"Bachelors degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,3,NaN,NaN,NaN,NaN,NaN,NaN,C;C#;C++;HTML/CSS;JavaScript;Node.js;Python,NaN,MongoDB,NaN,Heroku,NaN,Express;jQuery;React.js,NaN,Keras;NumPy;TensorFlow,NaN,Flow;Unity 3D,NaN,IPython/Jupyter;Sublime Text;Visual Studio Code,NaN,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, somewhat",Yes,18-24 years old,Woman,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
50,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C;HTML/CSS;Java;JavaScript;Kotlin;Node.js;Pyth...,Dart;Elixir;Go;SQL,NaN,NaN,Heroku,NaN,Django;Express;React.js,Angular,NaN,NaN,Git;Yarn,NaN,Android Studio;Atom;Notepad++;Sublime Text;Vis...,NaN,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Multiple times per day,Yes,A few times per week,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
53,I am a developer by profession,Employed full-time,India,NaN,NaN,"Masters degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",5,4,"Developer, full-stack","1,000 to 4,999 employees",INR\tIndian rupee,NaN,NaN,HTML/CSS;JavaScript;Node.js;Python;TypeScript,HTML/CSS;JavaScript;Node.js;PowerShell;Python;...,Firebase;MongoDB;Redis,DynamoDB;Elasticsearch;Firebase;MongoDB;Redis,AWS;DigitalOcean;Heroku;Microsoft Azure;Oracle...,AWS;DigitalOcean;Google Cloud Platform;Heroku;...,Angular;Express;React.js,Angular;Express;React.js,Cordova,Cordova,Docker;Git;Kubernetes,Docker;Git;Kubernetes,Visual Studio Code;Xcode,Visual Studio Code;Xcode,MacOS,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Multiple times per day,Yes,Less than once per month or monthly,"Yes, definitely",No,25-34 years old,Man,No,Prefer not to say,I don't know,None of the above,None of the above,Too long,Neither easy nor difficult,NaN

In [45]:
india_df.to_json('modified3.json')

In [46]:
india_df.to_json('modified4.json',orient='records', lines=True)

In [47]:
test = pd.read_json('modified4.json',orient='records', lines=True)
test.head()

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,I am a developer by profession,Employed part-time,India,NaN,NaN,"Bachelors degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp,6,4,"Developer, front-end","10,000 or more employees",INR\tIndian rupee,NaN,Monthly,HTML/CSS;JavaScript,HTML/CSS;JavaScript,PostgreSQL,PostgreSQL,AWS,None,Django;FastAPI,Django;FastAPI,None,None,Docker;Git,Docker;Git;Kubernetes,PyCharm;Sublime Text,PyCharm;Sublime Text,Windows,Visit Stack Overflow;Google it;Panic,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"Yes, definitely",No,25-34 years old,Man,No,None,South Asian,None,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
1,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,5 - 10 years,School;Friend or family member,7,None,None,None,None,NaN,None,C#;HTML/CSS;Python,Java;Kotlin;Python,None,None,None,None,None,None,None,None,Unity 3D,None,Android Studio,Android Studio,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",No,Under 18 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
2,I am a student who is learning to code,"Student, part-time",India,NaN,NaN,"Bachelors degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,3,None,None,None,None,NaN,None,C;C#;C++;HTML/CSS;JavaScript;Node.js;Python,None,MongoDB,None,Heroku,None,Express;jQuery;React.js,None,Keras;NumPy;TensorFlow,None,Flow;Unity 3D,None,IPython/Jupyter;Sublime Text;Visual Studio Code,None,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, somewhat",Yes,18-24 years old,Woman,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
3,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,None,None,None,None,None,NaN,None,C;HTML/CSS;Java;JavaScript;Kotlin;Node.js;Pyth...,Dart;Elixir;Go;SQL,None,None,Heroku,None,Django;Express;React.js,Angular,None,None,Git;Yarn,None,Android Studio;Atom;Notepad++;Sublime Text;Vis...,None,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Multiple times per day,Yes,A few times per week,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
4,I am a developer by profession,Employed full-time,India,NaN,NaN,"Masters degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",5,4,"Developer, full-stack","1,000 to 4,999 employees",INR\tIndian rupee,NaN,None,HTML/CSS;JavaScript;Node.js;Python;TypeScript,HTML/CSS;JavaScript;Node.js;PowerShell;Python;...,Firebase;MongoDB;Redis,DynamoDB;Elasticsearch;Firebase;MongoDB;Redis,AWS;DigitalOcean;Heroku;Microsoft Azure;Oracle...,AWS;DigitalOcean;Google Cloud Platform;Heroku;...,Angular;Express;React.js,Angular;Express;React.js,Cordova,Cordova,Docker;Git;Kubernetes,Docker;Git;Kubernetes,Visual Studio Code;Xcode,Visual Studio Code;Xcode,MacOS,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Multiple times per day,Yes,Less than once per month or monthly,"Yes, definitely",No,25-34 years old,Man,No,Prefer not to say,I don't know,None of the above,None of the above,Too long,Neither easy nor difficult,NaN

In [48]:
# sql export is not done

In [49]:
# sql_df = pd.read_sql('table name',engine, index_col='ResponseId')

In [50]:
# to run sql specific query use read_sql_query
# sql_df = pd.read_sql_query('select * from table name',engine, index_col='ResponseId')

In [51]:
posts_df = pd.read_json('https://raw.githubusercontent.com/CoreyMSchafer/code_snippets/master/Python/Flask_Blog/snippets/posts.json')

In [52]:
posts_df.head()

,title,content,user_id
0,My Updated Post,My first updated post!\r\n\r\nThis is exciting!,1
1,A Second Post,This is a post from a different user...,2
2,Top 5 Programming Lanaguages,"Te melius apeirian postulant cum, labitur admo...",1
3,Sublime Text Tips and Tricks,"Ea vix dico modus voluptatibus, mel iudico sua...",1
4,Best Python IDEs,"Elit contentiones nam no, sea ut consul adipis...",1